/* wijcalendar */
.wijmo-wijcalendar .ui-bar-a {
    background: #0072c6;
}

/* wijgrid */
.ui-mobile .wijmo-wijgrid .wijmo-wijgrid-innercell {
    padding: 6px
}

table.wijmo-wijgrid-table {
    border: solid 1px #ababab;
}

.wijmo-wijgrid-total {
    background: #f1f1f1;
}

.wijmo-wijgrid tr.wijmo-wijgrid-row {
    border-color: #dfdfdf;
}

.wijmo-wijgrid .wijmo-wijgrid-table .wijmo-wijgrid-rowheader {
    border-top: solid 1px #dfdfdf;
}

.wijmo-wijgrid .wijmo-wijgrid-table th.wijmo-wijgrid-rowheader {
    border-top: none;
}

.wijmo-wijgrid tr.wijmo-wijgrid-row td.ui-state-highlight {
    background: #7389a5;
    border-color: #dfdfdf;
    color: #FFFFFF;
}

.wijmo-wijgrid tr.wijmo-wijgrid-footerrow td {
    border-top: solid 1px #dfdfdf;
}

.wijmo-wijgrid tr.wijmo-wijgrid-row td.wijmo-wijgrid-current-cell {
    background: #5d7798;
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px #234386;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.50);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.50);
}

.wijmo-wijgrid-alternatingrow {
    background: #f2f5f9;
}

.wijmo-wijgrid-groupheaderrow {
    background: #f1f1f1;
}

.wijmo-wijgrid-footerrow {
    background: #f1f1f1;
}

.wijmo-wijgrid .wijgridinput {
    padding: 2px;
}

.wijgrid-rowheader-icon {
    background-image: url(images/icons-18-black.png);
    background-repeat: no-repeat;
}

.ui-icon-pencil {
    opacity: 0;
}

/* wijgrid filtering */
.wijmo-wijgrid .wijmo-wijgrid-filter td.wijmo-wijgrid-filter-trigger .ui-icon
{
    display: block;
}

span.wijgrid-input-wrapper > input[type] {
    background: #f1f1f1;
}

.wijmo-wijgrid-filterlist {
    -moz-box-shadow:0 5px 20px rgba(0,0,0,0.50);
    -webkit-box-shadow:0 5px 20px rgba(0,0,0,0.50);
    box-shadow:0 5px 20px rgba(0,0,0,0.50);
}

.wijmo-dropdown-item.ui-state-hover {
    background:#5f83b9;
    color:#fff;
    text-shadow:1px 1px 0 rgba(0,0,0,0.50);
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    padding-left: 14px !important;
    margin:1px -4px !important;
}

.wijmo-wijlist-item.ui-state-hover,.wijmo-wijlist-item.ui-state-active {
    background:#5f83b9;
    color:#fff;
    text-shadow:1px 1px 0 rgba(0,0,0,0.50);
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    padding-left:9px !important;
    margin:1px -4px !important;
}

.wijmo-wijlist-ul .wijmo-wijcombobox-selecteditem, ul.wijmo-wijlist-ul li.wijmo-wijlist-item-selected
{
    background: #7389a5;
}

.ui-mobile .wijmo-wijlist-ul {
    background: white;
    font-family: Arial,'Segoe UI', 'Segoe WP', 'Roboto','Frutiger','Helvetica Neue', Helvetica, sans-serif;
}

.ui-mobile .wijmo-wijlist-ul .wijmo-wijlist-item {
    padding: 6px;
}

.ui-mobile .wijmo-wijlist-ul .wijmo-wijlist-item-selected {
    padding: 6px;
    color: white;
}

/* dropdown */
.c1ls-label-text {
    opacity: .6;
}
