﻿body.ui-mobile-viewport, div.ui-mobile-viewport {
    overflow: hidden !important;
}

.msls-content.ui-content:not(.msls-vscroll) {
    overflow-y: auto !important;
}

#msls-id-progress-overlay {
    bottom: 0 !important;
    position: absolute !important;
}

.msls-overlay-active {
    bottom: 0 !important;
    position: absolute !important;
}

/*.msls-overlay msls-layout-ignore msls-overlay-active*/

.msls-header {
    position: absolute !important;
    top: 0 !important;
    background: #264061 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #264061 0%, #9badcb 20%, #c3d2ed 31%, #dfe7f5 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#264061), color-stop(20%,#9badcb), color-stop(31%,#c3d2ed), color-stop(100%,#dfe7f5)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #264061 0%,#9badcb 20%,#c3d2ed 31%,#dfe7f5 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #264061 0%,#9badcb 20%,#c3d2ed 31%,#dfe7f5 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #264061 0%,#9badcb 20%,#c3d2ed 31%,#dfe7f5 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #264061 0%,#9badcb 20%,#c3d2ed 31%,#dfe7f5 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264061', endColorstr='#dfe7f5',GradientType=0 ) !important; /* IE6-9 */
}

.msls-footer {
    position: absolute !important;
    bottom: 0 !important;
    background: #dfe7f5; /* Old browsers */
    background: -moz-linear-gradient(top, #dfe7f5 0%, #c3d2ed 75%, #9badcb 85%, #264061 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfe7f5), color-stop(75%,#c3d2ed), color-stop(85%,#9badcb), color-stop(100%,#264061)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dfe7f5 0%,#c3d2ed 75%,#9badcb 85%,#264061 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dfe7f5 0%,#c3d2ed 75%,#9badcb 85%,#264061 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dfe7f5 0%,#c3d2ed 75%,#9badcb 85%,#264061 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dfe7f5 0%,#c3d2ed 75%,#9badcb 85%,#264061 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe7f5', endColorstr='#264061',GradientType=0 ); /* IE6-9 */
}

    .msls-footer .ui-icon {
        display: none;
    }

    .msls-footer .ui-btn-inner {
        padding-bottom: 15px !important;
        padding-top: 15px !important;
        width: auto !important;
    }

        .msls-footer .ui-btn-inner .ui-btn-text {
            padding: 15px 28px !important;
            background: #3744ba; /* Old browsers */
            background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
            background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */
            -webkit-border-radius: 5px !important;
            border-radius: 5px !important;
            white-space: nowrap;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
        }

            .msls-footer .ui-btn-inner .ui-btn-text:hover {
                background: #3744ba; /* Old browsers */
                background: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%); /* FF3.6+ */
                background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
                background: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Chrome10+,Safari5.1+ */
                background: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Opera 12+ */
                background: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* IE10+ */
                background: radial-gradient(ellipse at center, #3744ba 0%,#273584 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                color: white !important;
            }

    .msls-footer .msls-leaf {
        padding: 6px 0px !important;
    }

        .msls-footer .msls-leaf:last-child {
            padding-right: 10px !important;
        }

.ui-input-text, .msls-li {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
}

input.ui-input-text {
    height: 49px;
    line-height: 36px;
    font-size: 36px;
}

.msls-li {
    background: #f2f2f2 !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f2f2f2 0%, #d3def1 51%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f2f2f2), color-stop(51%,#d3def1)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #f2f2f2 0%,#d3def1 51%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #f2f2f2 0%,#d3def1 51%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #f2f2f2 0%,#d3def1 51%) !important; /* IE10+ */
    background: linear-gradient(135deg, #f2f2f2 0%,#d3def1 51%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d3def1',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

    .msls-li:hover {
        background: #d3def1 !important; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #d3def1 38%, #f2f2f2 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(38%,#d3def1), color-stop(100%,#f2f2f2)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg, #d3def1 38%,#f2f2f2 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg, #d3def1 38%,#f2f2f2 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg, #d3def1 38%,#f2f2f2 100%) !important; /* IE10+ */
        background: linear-gradient(135deg, #d3def1 38%,#f2f2f2 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3def1', endColorstr='#f2f2f2',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
    }

.ui-page {
}

.msls-screen-tab {
    background: #3744ba; /* Old browsers */
    background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */
    padding: 0 !important;
    margin: 0 2px;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
}

    .msls-screen-tab a.ui-btn {
        padding: 5px 30px !important;
        display: inline-block;
    }

    .msls-screen-tab:hover {
        background: #3744ba; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, #3744ba 0%,#273584 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        color: white !important;
    }


.msls-screen-tab-active {
    background: #c00000; /* Old browsers */
    background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
}

    .msls-screen-tab-active:hover {
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
    }

.ui-radio-on .ui-btn-inner {
    background: #c00000;
    background: -moz-linear-gradient(top, #c00000 0%, #960000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000));
    background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%);
    background: -o-linear-gradient(top, #c00000 0%,#960000 100%);
    background: -ms-linear-gradient(top, #c00000 0%,#960000 100%);
    background: linear-gradient(to bottom, #c00000 0%,#960000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 );
    color: white;
    border: none !important;
}

.ui-controlgroup-controls .ui-radio:first-child .ui-btn-inner {
    -webkit-border-top-left-radius: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.ui-controlgroup-controls .ui-radio:last-child .ui-btn-inner {
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.ui-controlgroup-controls .ui-btn-up-a, .ui-controlgroup-controls .ui-btn-hover-a {
    border: none !important;
}

.ui-radio-off .ui-btn-inner {
    background: #3744ba; /* Old browsers */
    background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */
    border: none !important;
    color: #ccc;
}

    .ui-radio-off .ui-btn-inner:hover {
        background: #3744ba; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, #3744ba 0%,#273584 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        color: white !important;
    }

/*.ui-btn .ui-btn-inner {
    padding-bottom: 16px !important;
    padding-top: 16px !important;
    width: auto !important;
}*/

.msls-screen-tab .ui-btn-inner {
    border: none !important;
}

.msls-screen-tab-active .ui-btn-text, .msls-screen-tab .ui-btn-text {
    color: white !important;
}

.msls-content {
    /*margin: 20px 0;*/
    padding-top: 15px;
}

.ui-content .ui-listview {
    margin: 0px !important;
}

.ui-li.ui-btn {
    background: #f2f2f2 !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f2f2f2 0%, #d3def1 51%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f2f2f2), color-stop(51%,#d3def1)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #f2f2f2 0%,#d3def1 51%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #f2f2f2 0%,#d3def1 51%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #f2f2f2 0%,#d3def1 51%) !important; /* IE10+ */
    background: linear-gradient(135deg, #f2f2f2 0%,#d3def1 51%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d3def1',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

    .ui-li.ui-btn:hover {
        background: #d3def1 !important; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #d3def1 38%, #f2f2f2 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(38%,#d3def1), color-stop(100%,#f2f2f2)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg, #d3def1 38%,#f2f2f2 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg, #d3def1 38%,#f2f2f2 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg, #d3def1 38%,#f2f2f2 100%) !important; /* IE10+ */
        background: linear-gradient(135deg, #d3def1 38%,#f2f2f2 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3def1', endColorstr='#f2f2f2',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
    }

.msls-ctl-button > .ui-btn {
    background: #3744ba; /* Old browsers */
    background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    padding-bottom: 25px !important;
    padding-top: 24px !important;
    width: auto !important;
    text-transform: uppercase;
}

    .msls-ctl-button > .ui-btn:hover {
        background: #3744ba; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #3744ba 1%, #273584 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #3744ba 1%,#273584 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #3744ba 1%,#273584 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, #3744ba 1%,#273584 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .msls-ctl-button > .ui-btn > .ui-btn-inner {
        color: white !important;
    }

.msls-first-column, .msls-column, .msls-last-column {
    padding: 0px 2px;
}

/*Dialog box*/
.msls-dialog-frame {
}

.track-and-trace-text-box {
    height: 40px;
}

    .track-and-trace-text-box div {
        height: 34px;
    }

        .track-and-trace-text-box div input {
            height: 100% !important;
            padding: 0.1em 0 !important;
            font-size: 15px;
            line-height: 19px;
        }

.track-and-trace-button {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

    .track-and-trace-button a .ui-btn-inner {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .track-and-trace-button a {
        
    }

.un-assign-text textarea{

    border-color: transparent !important;

}

.msls-presenter fieldset .ui-select div.ui-btn {
    height: 80px;
    background-color: red;
}

    .msls-presenter fieldset .ui-select div.ui-btn .ui-btn-inner {
        padding-top: 30px;
    }

#conditionlist fieldset .ui-controlgroup-controls .ui-checkbox .ui-btn-inner {    
    background: linear-gradient(to bottom, rgba(232,253,203,1) 19%,rgba(180,227,145,1) 100%,rgba(97,196,25,1) 100%);
    border: 1px solid #008000;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 0px 3px 2px #808080;
    height:22px;
}