﻿.custom-popup {
    min-height: 160px;
    min-width: 300px;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    border: none;
}

.custom-popup-header {
    background: linear-gradient(#444444, #222222) repeat scroll 0 0 #444444;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0.4em 0.2em;
    position: relative;
    text-shadow: 0 -1px 1px #000000;
    background-color: #444444;
}

    .custom-popup-header > h1 {
        color: #FFFFFF;
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        min-height: 1.1em;
        outline: 0 none !important;
        overflow: hidden;
        padding: 0;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.custom-popup-body {
    padding: 16px !important;
}

    .custom-popup-body h3 {
        margin-bottom: 8px;
        margin-top: 0;
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        text-shadow: 0 1px 0 #FFFFFF;
    }

    .custom-popup-body p {
        margin: 0.5em 0 1em;
        color: #333333;
        text-shadow: 0 1px 0 #FFFFFF;
        font-family: Arial,Helvetica,sans-serif;
    }

    .custom-popup-body a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        padding: 0;
        position: relative;
        text-align: center;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        background-clip: padding-box;
        border-radius: 1em 1em 1em 1em;
        font-family: Arial,Helvetica,sans-serif;
        text-decoration: none;
        border: 1px solid #CCCCCC;
        color: #222222;
        font-weight: bold;
        text-shadow: 0 1px 0 #FFFFFF;        
    }

        .custom-popup-body a:hover {
            border: 1px solid #BBBBBB;
            color: #222222;
            font-weight: bold;
            text-shadow: 0 1px 0 #FFFFFF;
            background: linear-gradient(#F6F6F6, #E0E0E0) repeat scroll 0 0 #DFDFDF
        }

.custom-popup-button-inner {
    display: block;
    font-size: 16px;
    min-width: 0.75em;
    overflow: hidden;
    padding: 0.4em 16px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-clip: padding-box;
    border-radius: 1em 1em 1em 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    text-align: center;
    color: #222222;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}

    .custom-popup-button-inner span {
        user-select: none;
        position: relative;
        width: 100%;
        z-index: 1;
        font-size: 16px;
        white-space: nowrap;
        cursor: pointer;
        text-align: center;
        color: #222222;
        font-weight: bold;
        text-shadow: 0 1px 0 #FFFFFF;
    }

.ui-popup-screen {
    background-color:gray;
}

/*custom list*/

.custom-list {
    overflow:hidden;
    list-style: none;
    padding:0;
    margin:0;
}

.custom-list-item {
    cursor:pointer;
    padding:10px;
    border: 1px solid #ABABAB;
    border-radius:10px;
    margin-bottom:10px;
    background: linear-gradient(135deg, #F2F2F2 0%, #D3DEF1 51%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
    height:100px;
    display: inline-block;
    float:left;
    margin-right: 10px;
    min-width: 522px;
}

    .custom-list-item:hover {
        background: linear-gradient(135deg, #D3DEF1 0%, #F2F2F2 51%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid #92C0E0;
        text-shadow: 0 0 0 #E6F2FA;
    }

.custom-list-item1 {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ABABAB;
    border-radius: 10px;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #F2F2F2 0%, #D3DEF1 51%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
    height: 100px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    min-width: 200px;
}

    .custom-list-item1:hover {
        background: linear-gradient(135deg, #D3DEF1 0%, #F2F2F2 51%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid #92C0E0;
        text-shadow: 0 0 0 #E6F2FA;
    }

.custom-progressbar {
    position:relative;
    color: white;
    font-size:14px;
    background-color: #CCCCCC;
    border:1px solid #999999;
    border-radius: 5px;
    height:22px;
    text-align: center;
    overflow: hidden;
    width:200px;
}

.custom-progressbar-indicator {
    position:absolute;
    background-color: red;
    height:100%;
    top:0;
    border-radius:5px;
    background:linear-gradient(to bottom, #C00000 0%, #960000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.custom-progressbar-count-holder {
    margin-top:3px;
    height:100%;
    width: 100%;
    position:absolute;
    line-height:normal;
    z-index:1;
}

.ref-container {
    display:inline-block;
    font-size:22px;
    padding-left:5px;
    line-height:26px;
}

.cnt-container {
    font-size:18px;
    line-height:18px;
}

.custom-image-container {
    float: right;
}

.custom-image-container1 {
    float: left;
}

.custom-forklift-button, .custom-snapshot-button {       
    display: inline-block;
    padding:24px;
    margin-top:5px;
    position: relative;
}

.custom-snapshot-button {
    background: linear-gradient(to bottom, #3744BA 1%, #273584 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ABABAB;
    border-radius:5px;
}

.custom-forklift-button img, .custom-snapshot-button img {
    height:41px;     
}

.custom-forklift-counter {
    background:linear-gradient(to bottom, #C00000 0%, #960000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: absolute;
    top:5px;
    right:10px;
    padding:3px 6px;
    border-radius:20px;
    font-weight: bold;
    color:white;
}

.float-left {
    float:left;
}

.ui-input-search, div.ui-input-text {
    margin: 0.3em 0 0 0;
}

/*end of custom list*/

.shipment-type-list {
    list-style: none outside none;
    padding: 0;
}

    .shipment-type-list li {
        padding: 5px;
        font-size: 40px;
        border-radius: 8px;
        margin-bottom: 5px;
        cursor: pointer;
    }

        .shipment-type-list li:nth-child(2n+1) {
            background-color: #F2F3F3;
        }

.reference-type-list {
    list-style: none outside none;
    padding: 0;
}

    .reference-type-list li {
        padding: 5px;
        font-size: 40px;
        border-radius: 8px;
        margin-bottom: 5px;
        cursor: pointer;
    }

        .reference-type-list li:nth-child(2n+1) {
            background-color: #F2F3F3;
        }