﻿/* Replace user-splash-screen.png with your own splash screen image */
#msls-id-app-loading .msls-app-loading-img {
    background-image: url(Images/user-splash-screen.png);
}

/* Font families for screen and dialog headers.  Font families for content inside a screen 
    or dialog are determined by the theme's global font family setting. */
.msls-header .ui-title {
    font-family: Arial,'Segoe Light', 'Segoe UI Light', 'Segoe UI', 'Segoe WP Light', 'Roboto Light','Frutiger','Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-top: 2px;
}

/* Customizable font styles for screen controls */
.msls-font-style-large {
}

.msls-font-style-normal {
}

.msls-font-style-small {
}


/* Uncomment the following lines if you want to use certain jQuery Mobile listview features such as 
    count bubbles and icons inside LightSwitch lists. jQuery Mobile relies on list items using 
    position:relative for these features.  However, this setting performs poorly on certain mobile 
    devices (webkit based in particular) when there are large numbers of items in the list. */
/*
.msls-ctl-list .ui-listview > .ui-li,
.msls-ctl-list .ui-field-contain.ui-li {
    position: relative;
}
*/

/* Phone media query (portrait and landscape) */
@media 
screen and (max-width: 400px) and (orientation: portrait), 
screen and (max-width: 640px) and (max-height: 400px) and (orientation: landscape) {
}

#hProgressBar, #brhwbProgressBar, #brawbProgressBar, #bruldProgressBar, #papProgressBar {
    width: 100px;
    height: 22px;
    border: 1px solid #999;
    background-color: #ccc;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    #hProgressBar div, #brhwbProgressBar div, #brawbProgressBar div, #bruldProgressBar div, #papProgressBar div {
        height: 100%;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    #hProgressBar p, #brhwbProgressBar p, #brawbProgressBar p, #bruldProgressBar p, #papProgressBar p{
        color: white;
        margin-top: -19px;
        font-size: 14px;
    }

#uProgressBar {
    width: 182px;
    height: 29px;
    border: 1px solid #999;
    background-color: #ccc;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    #uProgressBar div {
        height: 100%;
        line-height: 29px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    #uProgressBar p {
        color: white;
        margin-top: -22px;
        font-size: 14px;
    }

#aProgressBar {
    width: 182px;
    height: 22px;
    border: 1px solid #999;
    background-color: #ccc;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 2px;
}

    #aProgressBar div {
        height: 100%;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    #aProgressBar p {
        color: white;
        margin-top: -19px;
        font-size: 14px;
    }

#bProgressBar {
    width: 235px;
    height: 22px;
    border: 1px solid #999;
    background-color: #ccc;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 2px;
}

    #bProgressBar div {
        height: 100%;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    #bProgressBar p {
        color: white;
        margin-top: -19px;
        font-size: 14px;
    }

#cProgressBar {
    width: 290px;
    height: 22px;
    border: 1px solid #999;
    background-color: #ccc;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 2px;
}

    #cProgressBar div {
        height: 100%;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    #cProgressBar p {
        color: white;
        margin-top: -19px;
        font-size: 14px;
    }

#dProgressBar {
    width: 245px;
    height: 22px;
    border: 1px solid #999;
    background-color: #ccc;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 2px;
}

    #dProgressBar div {
        height: 100%;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    #dProgressBar p {
        color: white;
        margin-top: -19px;
        font-size: 14px;
    }

#tProgressBar {
    width: 75px;
    height: 30px;
    margin-top: 2px;
    margin-right: 10px;
    border: 1px solid #999;
    background-color: #ccc;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    #tProgressBar div {
        height: 100%;
        line-height: 30px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    #tProgressBar p {
        color: white;
        margin-top: -25px;
        font-size: 14px;
    }

.am_forklift {
    position: relative;
    overflow: visible;
    cursor: pointer;
    margin-top: 4px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #ababab;
    background: #3744ba; /* Old browsers */
    background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */
}

    .am_forklift:hover {
        position: relative;
        overflow: visible;
        cursor: pointer;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 15px;
        padding-bottom: 15px;
        -webkit-border-radius: 5px !important;
        border-radius: 5px !important;
        border: 1px solid #92C0E0;
        background: #3744ba; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, #3744ba 0%,#273584 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .am_forklift span {
        position: absolute;
        top: 0px;
        right: 0px;
        /*border: 3px solid #fff;*/
        padding: 0.2px 4px;
        border-radius: 100px;
        -web-kit-border-radius: 100px;
        -moz-border-radius: 100px;
        /*box-shadow: 1px 1px 10px #ccc;*/
        font-size: 18px;
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
        color: white;
    }

.am_forklift_big {
    position: relative;
    overflow: visible;
    margin-top: 4px;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 7px;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;

}

    .am_forklift_big:hover {
        position: relative;
        overflow: visible;
        margin-top: 4px;
        padding-top: 16px;
        padding-left: 20px;
        padding-right: 15px;
        padding-bottom: 9px;
        -webkit-border-radius: 5px !important;
        border-radius: 5px !important;

    }

    .am_forklift_big span {
        position: absolute;
        top: 0px;
        right: 0px;
        /*border: 3px solid #fff;*/
        padding: 0.2px 4px;
        border-radius: 100px;
        -web-kit-border-radius: 100px;
        -moz-border-radius: 100px;
        /*box-shadow: 1px 1px 10px #ccc;*/
        font-size: 18px;
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
        color: white;
    }

.am_refresh {
    position: relative;
    overflow: visible;
    cursor: pointer;
    margin-top: 4px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #ababab;
    background: #3744ba; /* Old browsers */
    background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */

}

    .am_refresh:hover {
        position: relative;
        overflow: visible;
        cursor: pointer;
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 20px;
        -webkit-border-radius: 5px !important;
        border-radius: 5px !important;
        border: 1px solid #92C0E0;
        background: #3744ba; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, #3744ba 0%,#273584 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .am_refresh span {
        position: absolute;
        top: 0px;
        right: 0px;
        /*border: 3px solid #fff;*/
        padding: 0.2px 4px;
        border-radius: 80px;
        -web-kit-border-radius: 80px;
        -moz-border-radius: 80px;
        /*box-shadow: 1px 1px 10px #ccc;*/
        font-size: 14px;
        background: #c00000; /* Old browsers */
        background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
        color: white;
    }

.am_scanner {
    position: relative;
    overflow: visible;
    cursor: pointer;
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #ababab;
    background: #3744ba; /* Old browsers */
    background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */
}

        .am_scanner:hover {
            position: relative;
            overflow: visible;
            cursor: pointer;
            padding-top: 22px;
            padding-left: 15px;
            padding-right: 20px;
            padding-bottom: 10px;
            -webkit-border-radius: 5px !important;
            border-radius: 5px !important;
            border: 1px solid #92C0E0;
            background: #3744ba; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%); /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* IE10+ */
            background: radial-gradient(ellipse at center, #3744ba 0%,#273584 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }

        .am_scanner span {
            position: absolute;
            top: 0px;
            right: 0px;
            /*border: 3px solid #fff;*/
            padding: 0.2px 4px;
            border-radius: 100px;
            -web-kit-border-radius: 100px;
            -moz-border-radius: 100px;
            /*box-shadow: 1px 1px 10px #ccc;*/
            font-size: 18px;
            background: #c00000; /* Old browsers */
            background: -moz-linear-gradient(top, #c00000 0%, #960000 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #c00000 0%,#960000 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #c00000 0%,#960000 100%); /* IE10+ */
            background: linear-gradient(to bottom, #c00000 0%,#960000 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
            color: white;
        }

.am_camera {
    position: relative;
    overflow: visible;
    cursor: pointer;
    margin-top: 4px;
    padding-top: 14px;
    padding-left: 13px;
    padding-right: 15px;
    padding-bottom: 13px;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #ababab;
    background: #3744ba; /* Old browsers */
    background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */
}

    .am_camera:hover {
        position: relative;
        overflow: visible;
        cursor: pointer;
        margin-top: 4px;
        padding-top: 14px;
        padding-left: 13px;
        padding-right: 15px;
        padding-bottom: 13px;
        -webkit-border-radius: 5px !important;
        border-radius: 5px !important;
        border: 1px solid #92C0E0;
        background: #3744ba; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, #3744ba 0%,#273584 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

.am_camera_big {
    position: relative;
    overflow: visible;
    cursor: pointer;
    margin-top: 4px;
    padding-top: 28px;
    padding-left: 22px;
    padding-right: 25px;
    padding-bottom: 23px;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #ababab;
    background: #3744ba; /* Old browsers */
    background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */
}

    .am_camera_big:hover {
        position: relative;
        overflow: visible;
        cursor: pointer;
        margin-top: 4px;
        padding-top: 28px;
        padding-left: 22px;
        padding-right: 25px;
        padding-bottom: 23px;
        -webkit-border-radius: 5px !important;
        border-radius: 5px !important;
        border: 1px solid #92C0E0;
        background: #3744ba; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, #3744ba 0%,#273584 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

.condContainer {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background-color: white;
    height: 400px;
    width: 380px;  
    /*overflow:auto;*/
}

.imgContainer {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background-color: lightgray;
    background-color: gray;
    height: 700px;
    width: 525px;
    overflow: auto;
}

.ui-checkbox ui-tile-list {
    border-bottom-left-radius:5px;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #92C0E0;
}

.popup-footer {    
    position:absolute !important;
    bottom: 0 !important;    
    background: #dfe7f5; /* Old browsers */
    background: -moz-linear-gradient(top, #dfe7f5 0%, #c3d2ed 75%, #9badcb 85%, #264061 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfe7f5), color-stop(75%,#c3d2ed), color-stop(85%,#9badcb), color-stop(100%,#264061)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dfe7f5 0%,#c3d2ed 75%,#9badcb 85%,#264061 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dfe7f5 0%,#c3d2ed 75%,#9badcb 85%,#264061 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dfe7f5 0%,#c3d2ed 75%,#9badcb 85%,#264061 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dfe7f5 0%,#c3d2ed 75%,#9badcb 85%,#264061 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe7f5', endColorstr='#264061',GradientType=0 ); /* IE6-9 */
}

.popup-header { 
    position:absolute !important;
    top: 0 !important;             
    background: #264061 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #264061 0%, #9badcb 20%, #c3d2ed 31%, #dfe7f5 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#264061), color-stop(20%,#9badcb), color-stop(31%,#c3d2ed), color-stop(100%,#dfe7f5)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #264061 0%,#9badcb 20%,#c3d2ed 31%,#dfe7f5 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #264061 0%,#9badcb 20%,#c3d2ed 31%,#dfe7f5 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #264061 0%,#9badcb 20%,#c3d2ed 31%,#dfe7f5 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #264061 0%,#9badcb 20%,#c3d2ed 31%,#dfe7f5 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264061', endColorstr='#dfe7f5',GradientType=0 ) !important; /* IE6-9 */
}

.ui-corner-all {
    -webkit-border-radius: 10px /*{global-radii-blocks}*/;
    -moz-border-radius: 10px ;
    border-radius: 10px /*{global-radii-blocks}*/;
}

.msls-large-icon .ui-icon {

    width: 52px;
    height: 30px;
    border-radius: 5px;
    background-size: auto 100%;
    border: 0px solid gray;
    background-color: #3744ba; /* Old browsers */
    background-color: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background-color: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background-color: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background-color: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background-color: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */

}
    .msls-large-icon .ui-icon:hover {
        width: 52px;
        height: 30px;
        border-radius: 5px;
        background-size: auto 100%;
        border: 0px solid gray;
        background-color: #3744ba; /* Old browsers */
        background-color: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%); /* FF3.6+ */
        background-color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
        background-color: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Chrome10+,Safari5.1+ */
        background-color: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Opera 12+ */
        background-color: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* IE10+ */
    }

.msls-large-icon.ui-btn-hover-a .ui-icon {
    background-color: #3744ba !important; /* Old browsers */
    background-color: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%) !important; /* FF3.6+ */
    background-color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)) !important; /* Chrome,Safari4+ */
    background-color: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%) !important; /* Chrome10+,Safari5.1+ */
    background-color: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%) !important; /* Opera 12+ */
    background-color: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%) !important; /* IE10+ */
}

.msls-large-icon .ui-icon-msls-logout {
    background-position: -224px 1px;
}

.msls-large-icon .ui-icon-msls-back {
    background-position: -176px 0px;
}

.recovery-checkbox {    
    height:50px;
    width:50px;
    float: left;    
}

.unselected-recovery-checkbox {
    background: url("Images/checkbox_unchecked.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);    
}

.selected-recovery-checkbox {
     background: url("Images/checkbox_checked.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);    
}

.condition-checkbox {    
    height:25px;
    width:35px;
    float: left;
    margin-top: -4px;
}

.unselected-condition-checkbox {
    background: url("Images/checkbox_unchecked.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);   
    background-size:25px 25px;   
}

.selected-condition-checkbox {
     background: url("Images/checkbox_checked.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);    
     background-size:25px 25px;  
}

.condition-span {
    font-size:20px;
    line-height: 24px;
    margin-top:-3px;
}

.msls-popup .msls-dateTimePicker-container fieldset div .ui-select .ui-btn-inner .msls-text {
    font-size: 24px !important;
    line-height:28px !important;
}

.msls-dateTimePicker-container fieldset div .ui-select .ui-btn-inner .msls-text {
    font-size: 14px !important;
    line-height:18px !important;
}

.signature-presenter{
    border: 1px solid #ABABAB;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
}

.comment-presenter{
    display: inline-block;
    padding-top:18px;
    padding-bottom:12px;
    margin: 4px;
    width:75px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 5px /*{global-radii-blocks}*/;
    -moz-border-radius: 5px ;
    border-radius: 5px /*{global-radii-blocks}*/;
    background: #3744ba; /* Old browsers */
    background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */
    border: none !important;
    color: #ccc;
}

input[type=radio] {
    display: none;
}

    input[type=radio] + label
{
    display: inline-block;
    padding-top:20px;
    padding-bottom:20px;
    margin: 4px;
    width:75px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 5px /*{global-radii-blocks}*/;
    -moz-border-radius: 5px ;
    border-radius: 5px /*{global-radii-blocks}*/;
    background: #3744ba; /* Old browsers */
    background: -moz-linear-gradient(top, #3744ba 1%, #273584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3744ba 1%,#273584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3744ba 1%,#273584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3744ba 1%,#273584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3744ba 1%,#273584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=0 ); /* IE6-9 */
    border: none !important;
    color: #ccc;
}

        input[type=radio] + label:hover
{
    display: inline-block;
    padding-top:20px;
    margin: 4px;
    width:75px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 5px /*{global-radii-blocks}*/;
    -moz-border-radius: 5px ;
    border-radius: 5px /*{global-radii-blocks}*/;
    background: #3744ba; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #3744ba 0%, #273584 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3744ba), color-stop(100%,#273584)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #3744ba 0%,#273584 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, #3744ba 0%,#273584 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3744ba', endColorstr='#273584',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        color: white !important;
}

input[type=radio]:checked + label {
    padding-top:20px;
    padding-bottom:20px;
    margin: 4px;
    width:75px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 5px /*{global-radii-blocks}*/;
    -moz-border-radius: 5px ;
    border-radius: 5px /*{global-radii-blocks}*/;
    background: #c00000;
    background: -moz-linear-gradient(top, #c00000 0%, #960000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00000), color-stop(100%,#960000));
    background: -webkit-linear-gradient(top, #c00000 0%,#960000 100%);
    background: -o-linear-gradient(top, #c00000 0%,#960000 100%);
    background: -ms-linear-gradient(top, #c00000 0%,#960000 100%);
    background: linear-gradient(to bottom, #c00000 0%,#960000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#960000',GradientType=0 );
    color: white;
    border: none !important;
}